@model ProductVM

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id != 0 ? "Промени" : "Създай") Продукт</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Name" class="p-0"></label>
            <input asp-for="Product.Name" type="text" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Description" class="p-0"></label>
            <input asp-for="Product.Description" type="text" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Brand" class="p-0"></label>
            <input asp-for="Product.Brand" type="text" class="form-control" />
            <span asp-validation-for="Product.Brand" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ListPrice" class="p-0"></label>
            <input asp-for="Product.ListPrice" type="text" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.DiscountPrice" class="p-0"></label>
            <input asp-for="Product.DiscountPrice" type="text" class="form-control" />
            <span asp-validation-for="Product.DiscountPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <select asp-for="Product.CategoryId" class="form-select p-0" asp-items="@Model.CategoryList"><option disabled selected>--Select Category--</option></select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ImageUrl" class="p-0"></label>
            <input type="file" name="file" class="form-control" />
        </div>
        @if (Model.Product.Id != 0)
        {
            <button type="submit" class="btn btn-primary" style="width:150px">Промени</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary" style="width:150px">Създай</button>
        }
        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary" style="width:150px">
            Обратно
        </a>
    </div>
</form>
